* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

body {
  background-image: url(img/forsidebaggrund.webp);
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.forsidebillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  padding: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  color: white;
}
.a1 {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: "IBM Plex Serif", serif;
}

ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 100px;
  font-size: 30px;
  gap: 40px;
}

li {
  list-style-type: none;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .felx {
    display: flex;
    flex-direction: row;
  }
}
